
.box{
	margin: 10px 0px;
}

.thumbnails{
	width:64px;
	height: 64px;
}
[type=radio]{
	opacity: 0.0;
	position: relative;
	width: 0px;
	height: 0px;
}

[type=radio] + img, [type=radio] + strong{
	cursor: pointer;
}

[type=radio]:checked + img, [type=radio]:checked + strong{
	outline: 2px solid #DC3545;
}

